body {
    background-color: #80DEEA;
    margin: 0; 
    font-family: Arial;
    padding-top: 220px;
    padding-bottom: 140px;
}
section {
    margin-top: 220px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background-color: #ffffff;
    align-items: center;
    margin: 0px;
    text-align: center;
}

header h1{
    margin: 0px;
    margin-bottom: 20px;
}

header ul{
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 135px;
    border-radius: 8px; 
}

header li{
    margin: 0;
    border-radius: 8px; 
}

header a{
    text-decoration: none; 
    color: #ffffff;
    font-weight: bold;
    background-color:#126367 ;
    border-radius: 8px;
    padding: 10px 20px; 
}

header img{
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    background-color: #5ECFDE;
    color: #ffffff;
}

.life {
    margin-top: 35px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

body h1 {
    padding-top: 28px;
    font-size: 30px;
    color: #464A4B;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2C7E81;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    font-size: 18px;
    font-family: Arial;

}
footer p {
    margin: 0; 
}
figcaption a {
    text-decoration: none; 
    font-family: Arial;
    padding: 10px;
    margin: 2px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #177074;
}
figcaption a:hover {
    background-color: #5ECFDE;
    color: #ffffff;
}
.detalhesProduto {
    display: flex;
    margin-top: 220px;
    justify-content: center;   
    align-items: center;        
    flex-direction: row;      
    gap: 50px;                
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: left;
}
.imagemProduto {
    text-align: center;
    color: #fff;
    text-align: right;
    
}
.imagemProduto img{
    margin-top: 50px ;
    background-color: #b3f6ff;
    border-radius: 10px;
    width: 370px;
    height: auto;
}
.textoProdutos {
    text-align: center;
    max-width: 600px;
}
.quantidade{
    background-color: #fff;
    height: 80px;
    width: 90px;  
    padding: 10px 5px;
    border-radius: 12px;
    font-weight: bold;
}
.textoProdutos h1 {
    text-align: left;
    font-size: 28px;
    color: #ffffff;
}
.textoProdutos h3 {
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff;
}
.preco {
    margin-top: 40px;
    font-size: 34px;
    color: #0B4F52;
}
.comprar {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #177074;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}
.comprar:hover{
    background-color: #428f99;
    color: #fff;
}
.comprar h1 {
     text-align: left;
}
.sobre {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 50px; 
    margin: 50px auto; 
    max-width: 1000px; 
    flex-wrap: wrap;
}
.textoSobre {
    flex: 1; 
    font-family: Arial;
    font-size: 22px;
    color: #ffffff;
}

.textoSobre h1{
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.tetxtoSobre img{
    max-width: 100%;
    height: auto;
}
.imagens {
    display: flex;
    justify-content: center;    
    align-items: center;      
    flex-wrap: wrap;           
    gap: 40px;                   
    width: 100%;                 
    margin: 0 auto;              
    padding: 40px 0;
}

.imagens figure {
    background-color: #36999c;
    width: 220px;
    height: 280px;             
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
    border-radius: 18px;
    text-align: center;
}

.imagens figure img {
    height: 200px; 
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.imagens figcaption {
    min-height: 40px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    color: #ffffff;
    flex-direction: column;
}
.formulario {
    justify-content: center;  
    align-items: center; 
    flex-direction: row; 
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 5px;
    margin: 50px auto;
    flex-wrap: wrap; 
    max-width: 1000px; 
}
.formulario form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #177074;
    border-radius: 15px; 
    padding: 30px;
    margin: 0px auto; 
    max-width: 500px; 
}
.formulario form label{
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;;
}
.formulario img{
    width: 350px;
    justify-content: center;   
    align-items: center;       
    flex-direction: row; 
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.formulario h1{
    color: #ffffff;
}
#nome, #email, #mensagem {
    color: #ffffff;
    background-color: #68bfc4;
    font-family: Arial;
}
#Enviar {
    color:#177074;
    background-color: #ffffff;
    font-family: Arial;
    border-radius: 5px;
}
#Enviar:hover {
    background-color: #5ECFDE;
    color: #ffffff;
}
.compras {
    display: flex;
    align-items: center; 
    gap: 20px;          
    margin-top: 25px;
}
